@{
    ViewData["Title"] = "Home Page";
}
@model List<TP03_WebApp.Entidades.Cadete>

<div class="text-center">
    <h1 class="display-4">Cadetes</h1>
    @foreach (var item in Model)
    {
        @item.Nombre;
        @item.Id;
        <br />
    }


<div class="btn">
    <a class="btn btn-primary" asp-area="" asp-controller="Cadete" asp-action="AltaCadetes">Nuevo Cadete</a>
</div>
</div>
